.imgStyle{
  height:auto;
  width:100%;
  padding-top:40px;
  padding-bottom:40px;
}

.buttonStyle{
  width:160px;
}

.widthStyle{
  max-width:500px;
  padding-top: 100px;
  height: 100vh
}

.addImage{
  background-image: linear-gradient(LightSkyBlue, yellow);
}
.pageContainer {
  padding-top: 80px;
  padding-bottom: 60px
}
.how-it-works-icon {
  height: 80px;
  width: 80px
}
