.imgStyle{
  height:auto;
  width:600px;
  padding-top:40px;
  padding-bottom:40px;
}

.buttonStyle{
  width:160px;
}

.widthStyle{
  max-width:80%;

padding:210px;



}

.addImage{
  background-image: linear-gradient(LightSkyBlue, yellow);
}
*{
  text-align:center;
}
